*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{ 
    background-color: #0B3954;
    overflow-x: hidden;
}



/********************************************   NAV-BAR   **************************************************/


.nav-bar
{
    background-color: #3D52F0;
}


.brand-logo img
{
  width:4rem;
  height:4rem;
  border-radius: 50%; 
}

.me-auto
{
    margin-left: 3vw;
} 

 .nav-items
{
    font-size: 1.25rem;
    margin: 0 0.5vw;
    color: #E2E2E2;
    font-weight: 700;
} 


#basic-nav-dropdown
{
    color: #E2E2E2;
}


.dropdown-items
{
    color: #E64833;
    font-weight: 600;
}


.cart-icon
{
    margin-left: 25vw;
    color:#E2E2E2;
    font-size: 2rem;
}

.cart
{
    color:#E2E2E2;
    font-size: 1.2rem;
    font-weight: 700;
}


.toggle-menu
{
    background-color:white;
}

.nav-items:hover
{
  color:#393A10;
}



/*****************************************   HOME PAGE   ***********************************************************/


.card
{
    overflow-x: auto;
    background-color: #F0C808;
    border: 8px solid #FDF7FA;
}

.title
{
   background-color: #FE621D;
   color:#FFFAFB;
}

.bg-img1,.bg-img2
{
    border: none;
}

.shop-img
{
    width:100%;
    height:85vh;
}

.card-title1
{ 
    color:#071013;
}

.card-para1
{
    color:#E0F2E9;
}

.shop-img2
{
    filter: blur(2px);
    height:70vh;
}

.card-title2
{
    color:white;
}

.card-para2
{
    color:#1A1423;
}


.top-brands-list-items
{
    margin : 1rem;
    background-color: #FFFFFF;
    border:3px solid #FF3C38;
}

.card-img-top
{
    width: 250px;
    height:250px;
    margin-top: 10px;
    padding: 7px;
}

.brand-logo,.mobile-brands-card-img,.laptop-brands-card-img
{
    width: auto;
    height: auto;
}


.brand-logo,.mobile-brands-card-img,.laptop-brands-card-img
{
    margin-top: 0px;
    padding: 0px;
}

.new-arrivals-card,.mens-clothing-card,.mens-watches-card,.mens-shoes-card,.womens-clothing-card,.handbags-card,.womens-footwear-card
,.apple-products-card,.samsung-mobiles-card,.oppo-mobiles-card,.lenovo-laptops-card,.dell-laptops-card,.asus-laptops-card
,.adidas-card,.nike-card,.apple-mobiles-card,.xiaomi-mobiles-card,.oneplus-mobiles-card,.iqoo-mobiles-card,.realme-mobiles-card
,.hp-laptops-card,.acer-laptops-card
{
    align-items: center;
    text-align: center;
    height: 95%;
} 


.footer
{
    background-color: #E2FADB;
    color:#19297C;
}

                             



/**************************************************   MOBILES PAGE   *********************************************************/


.mobiles-div
{
    background-color: #8DA9C4;
}

.mobile-brands-card
{
    background-color: #BDD4E7;
    border: 7px solid black;
}


.mobile-brands-card-img,.laptop-brands-card-img
{
  height:40vh;
}


.mobile-brands-card-title
{
    color:#002400;
}

.mobile-brands-card-text
{
    color: #0D3B66;
    font-size: 1.5rem;
}



/**************************************************   LAPTOPS PAGE   *********************************************************/


.laptops-div
{
    background-color: #ABEBD2;
} 

.laptop-brands-card
{
  background-color: #BEDCFE;
  border: 5px solid #4F000B;
}

.laptop-brands-card-title
{
    color:white;
}

.laptop-brands-card-text
{
    color: white;
    font-size: 1.2rem;
}

.card-img-top
{
    transition: padding 0.2s ease-out;
}


.card:hover
{
    .card-img-top
    {
        padding: 20px;
    }
} 

.card:hover
{
    .mobile-brands-card-img,.brand-logo,.laptop-brands-card-img
    {
        padding: 0;
    }

}


/**************************************************   ADIDAS PRODUCTS PAGE   ****************************************************************/


.adidas
{
   background-color: #F3A712;
}
                                              
.adidas-title
{
   background-color: #90FFDC;
   color:#111D13;
}
                                              
.adidas-card
{
   background-color: #F4F3EE;
   border: 5px solid black;
}






/**************************************************   NIKE PRODUCTS PAGE   ****************************************************************/


.nike
{
   background-color: #2274A5;
}
                                              
.nike-title
{
   background-color: #ABFAA9;
   color:#FF521B;
}
                                              
.nike-card
{
   background-color: #E0FBFC;
   border: 5px solid black;
}


/*************************************************   MEDIA QUERIES   ******************************************************/

@media screen and (max-width:575px) 
{
   .nav-items,.dropdown-items
   {
    font-size: 1.2rem;
   }
  
   .shop-img
   {
     height: 75vh;
   }

   .shop-img2
   {
    height: 60vh;
   }

   .card-para2
   {
     /* font-size: 5rem;  */
     margin: 0 1rem;
   }

   .mobile-brands-card-text,.laptop-brands-card-text
   {
      font-size: 1.25rem;
   }


} 

 @media screen and (max-width : 991px)
{
    .cart-icon
    {
        margin-left: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1280px)
{   
   .cart-icon
  {
    margin-left: 10vw;
  }
} 

@media screen and (min-width:992px) and (max-width:1158px)
{
    .nav-items
    {
        font-size: 1rem;
    }
}