@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{ 
    font-family: "Mukta";
    background-color: #0B3954;
    overflow-x: hidden;
}



/********************************************   NAV-BAR   **************************************************/


.nav-bar
{
    background-color: #3D52F0;
}


.brand-logo img
{
  width:4rem;
  height:4rem;
  border-radius: 50%; 
}

.me-auto
{
    margin-left: 3vw;
} 

 .nav-items
{
    font-size: 1.25rem;
    margin: 0 0.5vw;
    color: #E2E2E2;
    font-weight: 700;
} 

.nav-link
{
    color: #E2E2E2; 
}

#basic-nav-dropdown
{
    color: #E2E2E2;
}


.dropdown-items
{
    color: #E2E2E2;
    font-weight: 600;
    border-bottom: 0.5px solid whitesmoke;
   
}

.dropdown-menu
{
    background-color: #192BC2;
    border: 2px solid #D0E562;
    margin: 0 20px;
    text-align: center;
}

.cart-icon
{
    /* margin-left: 35vw; */
    color:#E2E2E2;
    font-size: 1.5rem;
}

.cart
{
    color:#E2E2E2;
    font-size: 1.2rem;
    /* font-weight: 700; */
    padding-left: 5px;
}

.toggle-menu
{
    background-color:white;
}

.nav-items:hover
{
  color:#393A10;
}



/*****************************************   HOME PAGE   ***********************************************************/


.card
{
    overflow-x: auto;
    background-color: #F0C808;
    border: 8px solid #FDF7FA;
}

.title
{
   background-color: #FE621D;
   color:#FFFAFB;
}

.bg-img1,.bg-img2
{
    border: none;
}

.shop-img
{
    height:85vh;
}

.card-title1
{ 
    color:#071013;
}

.card-para1
{
    color:#E0F2E9;
}

.shop-img2
{
    filter: blur(2px);
    height:70vh;
}

.card-title2
{
    color:white;
}

.card-para2
{
    color:#1A1423;
}


.top-brands-list-items
{
    margin : 1rem;
    background-color: #FFFFFF;
    border:3px solid #FF3C38;
}

.card-img-top
{
    width: 250px;
    height:250px;
    margin-top: 10px; 
    padding: 7px;
}

.brand-logo
{
    width: auto;
    height: auto;
}


.brand-logo,.mobile-brands-card-img,.laptop-brands-card-img
{
    margin-top: 0px;
    padding: 0px;
}

.new-arrivals-card,.mens-clothing-card,.mens-watches-card,.mens-shoes-card,.womens-clothing-card,.handbags-card,.womens-footwear-card
,.apple-products-card,.samsung-mobiles-card,.oppo-mobiles-card,.lenovo-laptops-card,.dell-laptops-card,.asus-laptops-card
,.adidas-card,.nike-card,.apple-mobiles-card,.xiaomi-mobiles-card,.oneplus-mobiles-card,.iqoo-mobiles-card,.realme-mobiles-card
,.hp-laptops-card,.acer-laptops-card
{
    align-items: center;
    text-align: center;
    height: 95%;
} 


.footer
{
    background-color: #E2FADB;
    color:#19297C;
}

                             



/**************************************************   MOBILES PAGE   *********************************************************/


.mobiles-div
{
    background-color: #8DA9C4;
}

.mobile-brands-card
{
    background-color: #BDD4E7;
    border: 7px solid black;
}


.mobile-brands-card-img,.laptop-brands-card-img
{
    width: auto;
    height:40vh;
}


.mobile-brands-card-title
{
    color:#002400;
}

.mobile-brands-card-text
{
    color: #0D3B66;
    font-size: 1.5rem;
}



/**************************************************   LAPTOPS PAGE   *********************************************************/


.laptops-div
{
    background-color: #ABEBD2;
} 

.laptop-brands-card
{
  background-color: #BEDCFE;
  border: 5px solid #4F000B;
}

.laptop-brands-card-title
{
    color:white;
}

.laptop-brands-card-text
{
    color: white;
    font-size: 1.2rem;
}

.card-img-top
{
    transition: padding 0.2s ease-out;
}


.card:hover
{
    .card-img-top
    {
        padding: 20px;
    }
} 

.card:hover
{
    .mobile-brands-card-img,.brand-logo,.laptop-brands-card-img
    {
        padding: 0;
    }

}


/**************************************************   ADIDAS PRODUCTS PAGE   ****************************************************************/


.adidas
{
   background-color: #F3A712;
}
                                              
.adidas-title
{
   background-color: #90FFDC;
   color:#111D13;
}
                                              
.adidas-card
{
   background-color: #F4F3EE;
   border: 5px solid black;
}






/**************************************************   NIKE PRODUCTS PAGE   ****************************************************************/


.nike
{
   background-color: #2274A5;
}
                                              
.nike-title
{
   background-color: #ABFAA9;
   color:#FF521B;
}
                                              
.nike-card
{
   background-color: #E0FBFC;
   border: 5px solid black;
}



/**************************************************   PRODUCT PAGE   ****************************************************************/


.carousel-image
{
    height:80vh;
    width: 95%;
    padding: 10px;
    margin-left: 20px;
}

.ant-carousel
{
    margin:10px 20px;
}

.ant-carousel .slick-next::after,.ant-carousel .slick-prev::after
{
    width:20px;
    height:20px; 
    color:black;
}

.product-page
{
    background-color: #6320EE;
}

.product-img-and-description
{
    background-color: #FFE9D0;
}

.product-description
{
    background-color: white;
    border: none;
    border-left: 6px solid black;
    border-radius: 0;
    height:100%;
    padding-left: 50px;
}

.card-body
{
    width: 90%;
}

.product-text
{
    font-size: 1.35rem;
}

.product-price
{
    font-size: 2.5rem;
}

.product-line
{
   width: 95%;
   margin-top: 25px;
}

.css-jfdv4h-MuiStack-root 
{
    display:flex; 
    flex-direction: row;
}

.add-to-cart,.place-order
{
    width: 150px;
  margin-top: 80px;
  padding: 7px 15px
}

.place-order
{
   margin-left: 8em;
}


.chakra-card
{
    background-color: #FDFFFC;
    margin:50px;
    border-radius: 7px;
    padding:5px
}

.chakra-text
{
    font-size: 1.25rem;
    line-height: 35px;
}

.username
{
    font-size: 1.25rem;
}

.user-reviews
{
    margin: 50px;
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 10px 20px;
}


@keyframes animation
{
    from
    {
        right:0
    }

    to
    {
        right : 20px
    }
}

.animated-img
{
   position: relative;
   animation: 2s ease infinite alternate;
   animation-name: animation;
}

.moving-animation:hover{
    right: 20px;
}

.offcanvas.show{
    width : 25%;
    padding: 10px;
    height:40%;
    background-color: #F6FEDB;
}

.offcanvas-title
{
    text-align: center;
}

.order-offcanvas.show  
{
    height: 20%;
    border-radius: 25px;
}

.cart-item-title
{
    font-size: 1.25rem;
}

.ordered-img
{
    width: 90px;
    height: 90px;
}

.cart-items
{
    background-color: white;
    min-height: 82vh;
}

.subtotal-and-clear-cart
{
    background-color: whitesmoke;
}

.cart-subtotal
{
    font-size: 1.5rem;
}

.clear-cart-button
{
    font-size: 1.25rem;
}

.delete-button
{
    background-color : white;
    border:none
}

.delete-img
{
    width:35px;
    height:35px;
    position: relative;
    bottom: 5px;
}

.product-image
{
    width:200px;
    height:200px;
    position: relative;
    left: 40px;
    margin: 20px 0;
}

.quantity
{
    margin: 10px 0;
    position: relative;
    left: 40px;
}

.cart-products
{
    margin-top: 10px;
   border-top: 2px solid black;
}

.product-data
{
    cursor: pointer;
}

.cart-products-title,.cart-item-price
{
   font-size: 1.5rem;
}

.cart-products-description, .cart-products-short-description
{
    font-size: 1.25rem;
}

.button
{
    width:30px;
    height:30px;
    border-radius: 50%;
}

.decrement
{
    margin-left: 30px;
}

.increment-symbol,.decrement-symbol
{
  position : relative;
  bottom: 7px;
  font-size: 1.5rem;
}

.count
{
    position: relative;
    bottom: 5px;
    font-size: 1.5rem;
}

.empty-cart
{
    background-color: white;
    min-height: 82vh;
}

.cart-img
{
   height : 63vh;
   width : 30%;
   position:relative;
   animation:moving-cart 4s infinite normal;
}



@keyframes moving-cart
{
   from
   {
       left : 0;
   }

   to
   {
      left : 70%
   }
}


.emoji
{
    width:100px;
    height:100px;
    animation: rotate 3s infinite;
}


@keyframes rotate
{
    25%
    {
        transform: rotate(45deg);
    }

    50%
    {
        transform: rotate(0deg);
    }

    75%
    {
        transform: rotate(-45deg);
    }
}

.empty-cart-para
{
    font-size: 2.5rem;
    margin-top: 40px;
}



/*************************************************   MEDIA QUERIES   ******************************************************/

@media screen and (max-width:575px) 
{
    .nav-items,.dropdown-items
    {
      font-size: 1.2rem;
    }

    .shop-img
    {
      height: 75vh;
    }
 
    .shop-img2
    {
      height: 60vh;
    }

    .card
    {
       width:75%;
       position: relative;
       left: 9%;
    }

    .bg-img1,.bg-img2
   {
      width: 100%;
      left:0
   }

    .cart-icon
    {
        margin-left: 0;
    }

    .card-para2
    {
      margin: 0 1rem;
    }
 
    .card-img-top
    {
        width: 200px;
        height: 200px;
    }

    .brand-logo
    {
      width: auto;
      height: auto;
    }

     .mobile-brands-card,.laptop-brands-card
    {
        width:100%;
        left: 0;
    }

    .mobile-brands-card-img,.laptop-brands-card-img
    {
        width: auto;
    }

     .mobile-brands-card-text,.laptop-brands-card-text
   {
      font-size: 1rem;
   }

   .product-img-and-description
    {
        flex-direction: column;        
    }

    .product-description
    {
        background-color:  #FFE9D0;
        width: 90%;
        border: none;
        padding: 10px;
        margin-left: 0;
    }

    .product-title
    {
        font-size: 1.5rem;
    }

    .product-text
    {
        font-size: 1rem;
    }

    .carousel-image
    {
        height: 40vh;
        margin-left: 10px;
    }

    .ant-carousel .slick-next::after,.ant-carousel .slick-prev::after
    {
        display: none;
    }

   .product-line
   {  
     display: none;
   }

   .product-price
   { 
     padding-top: 20px;
     font-size: 30px;
   }

   .add-to-cart-and-order
   {
     flex-direction: column;
   }

   .add-to-cart
   {
     margin-top: 40px;
     border-radius: 20px;
     padding: 15px;
     width: 100%;
   }

   .place-order
   {
      margin : 50px 0 0;
      border-radius: 20px;
      padding: 15px;
      width: 100%;
   }

   .chakra-card, .user-reviews
   {
     margin: 50px 15px;
   }

   .chakra-text
   {
    font-size: 1rem;
   }

   .offcanvas.show
   {
     width : 100%;
     height: 50%;
   }
 
   .order-offcanvas.show  
  {
     height: 20%;
  }
 
  .sizes-dropdown
  {
    cursor: pointer;
  }
  
  .dropdown-options
  {
     font-size: 0.75rem;
  }  

  .ordered-img
 {
    width: 65px;
    height: 65px;
 }

.cart-item-title
{
    font-size: 1.15rem;
}

.successful-order
{
    font-size: 1.25rem;
}

.subtotal-and-clear-cart
{
    flex-direction: column;
    margin : 15px;
    padding: 20px;
}

.cart-subtotal
{
    font-size: 1.25rem;
}

.clear-cart-button
{
   width: 150px;
}

.delete-img
{
    width:25px;
    height:25px;
    left: 5px;
}

.product-image
{
    width: 100px;
    height: 100px;
    left:10px;
    top: 30px;
    margin: 5px;
}

.quantity
{
   left:0;
   margin-top:50px;
}

.button
{
    width: 20px;
    height: 20px;
}

.decrement
{
    margin-left:15px ;
}

.quantity p
{
    font-size: 1.15rem;
}

.product-data
{
   flex-direction: column;
   width: 90%;
}

.cart-products-title
{
    font-size: 1.25rem;
}

.cart-item-price
{
    font-size: 1.25rem;
}

.cart-products-description
{
    font-size: 1rem;
    display: none;
}

.cart-products-short-description
{
    font-size: 1rem;
    display: block;
}

.cart-img
{
    width: 25%;
    height: 60vh;
}

.emoji
{
    height: 50px;
    width: 50px;
    margin: 50px 10px 5px;
}

.empty-cart-para
{
    font-size: 1.25rem;
    margin-top: 60px;
}

}


@media screen and (min-width:576px) and (max-width:767px) 
{
    .shop-img
    {
      height: 75vh;
    }
 
    .shop-img2
    {
      height: 60vh;
    }

    .card
    {
       width:75%;
       position: relative;
       left: 9%;
    }

    .bg-img1,.bg-img2
   {
      width: 100%;
      left:0
   }

    .cart-icon
    {
        margin-left: 0;
    }

    .mobile-brands-card-text,.laptop-brands-card-text
    {
       font-size: 1.25rem;
    }

    .product-img-and-description
    {
        flex-direction: column;        
    }

    .product-description
    {
        background-color:  #FFE9D0;
        width: 90%;
        border: none;
        padding: 10px;
        margin-left: 0;
    }

    .product-title
    {
        font-size: 1.75rem;
    }   

    .product-text
    {
        font-size: 1.15rem;
    }

    .carousel-image
    {
        height: 47vh;
        margin-left: 10px;
    }

    .ant-carousel .slick-next::after,.ant-carousel .slick-prev::after
    {
        display: none;
    }

   .product-line
   {  
     display: none;
   }

   .product-price
   { 
     padding-top: 20px;
     font-size: 30px;
   }

   .add-to-cart-and-order
   {
     flex-direction: column;
   }

   .add-to-cart
   {
     margin-top: 40px;
     border-radius: 20px;
     padding: 15px;
     width: 100%;
   }

   .place-order
   {
      margin : 50px 0 0;
      border-radius: 20px;
      padding: 15px;
      width: 100%;
   }

   .chakra-card, .user-reviews
   {
     margin: 50px 15px;
   }

   .chakra-text
   {
    font-size: 1rem;
   }

   .offcanvas.show
   {
     width : 65%;
     height: 45%;
   }

  .order-offcanvas.show  
 {
    height: 25%;
 }

.sizes-dropdown
{
  cursor: pointer;
}

.dropdown-options
{
   font-size: 0.75rem;
}

    .ordered-img
   {
      width: 75px;
      height: 75px;
   }
  
   .cart-item-title
   {
      font-size: 1.15rem;
   }
  
   .successful-order
   {
      font-size: 1.25rem;
   }

   .subtotal-and-clear-cart
  {
    flex-direction: column;
    margin : 15px;
    padding: 20px;
  }

   .cart-subtotal
  {
    font-size: 1.35rem;
  }

  .clear-cart-button
 {
    width: 150px;
 }

 .delete-img
{
    width: 25px;
    height: 25px;
    left: 5px;
}

.quantity
{
   left:0;
   margin-top:50px;
}

.button
{
   width: 20px;
   height: 20px;
}

.quantity p
{
    font-size: 1.15rem;
}

.increment-symbol,.decrement-symbol
{
    bottom: 6px;
}

.decrement
{
    margin-left:15px ;
}

.product-data
{
   flex-direction: column;
   width: 90%;
}

.product-image
{
    width: 100px;
    height: 100px;
    left:10px;
    top: 30px;
    margin: 5px;
}

.cart-products-title
{
    font-size: 1.35rem;
}

.cart-item-price
{
    font-size: 1.35rem;
}

.cart-products-description
{
    font-size: 1rem;
    display: block;
}

.cart-products-short-description
{
    font-size: 1rem;
    display: none;
}

.cart-img
{
    width: 25%;
    height: 60vh;
}

.emoji
{
    height: 75px;
    width: 75px;
    margin: 40px 10px 10px;
}

.empty-cart-para
{
    font-size: 1.75rem;
    margin-top: 60px;
} 

}


@media screen and (min-width:768px) and (max-width:991px) 
{
    .shop-img
    {
      height: 75vh;
    }
 
    .shop-img2
    {
      height: 60vh;
    }

    .card
    {
       width:75%;
       position: relative;
       left: 9%;
    }

    .bg-img1,.bg-img2
   {
      width: 100%;
      left:0
   }

    .cart-icon
    {
        margin-left: 0;
    }

    .mobile-brands-card-text,.laptop-brands-card-text
    {
       font-size: 1.5rem;
    }

    .product-img-and-description
    {
        flex-direction: column;        
    }

    .product-description
    {
        background-color:  #FFE9D0;
        width: 90%;
        border: none;
        padding: 10px;
        margin-left: 0;
    }

    .product-title
    {
        font-size: 2rem;
    }   

    .product-text
    {
        font-size: 1.25rem;
    }

    .carousel-image
    {
        height: 400px;
        width: 100vw;
        margin-left: 10px;
    }
    

    .ant-carousel .slick-next::after,.ant-carousel .slick-prev::after
    {
        display: none;
    }

   .product-line
   {  
     display: none;
   }

   .product-price
   { 
     padding-top: 20px;
     font-size: 30px;
   }

   .add-to-cart-and-order
   {
     flex-direction: column;
   }

   .add-to-cart
   {
     margin-top: 40px;
     border-radius: 20px;
     padding: 15px;
     width: 100%;
   }

   .place-order
   {
      margin : 50px 0 0;
      border-radius: 20px;
      padding: 15px;
      width: 100%;
   }

   .chakra-card, .user-reviews
   {
     margin: 50px 15px;
   }

   .chakra-text
   {
    font-size: 1rem;
   }

   .offcanvas.show
   {
      width : 60%;
      height: 40%;
   }  

  .order-offcanvas.show  
 {
    height: 15%;
 }

.sizes-dropdown
{
  cursor: pointer;
}

.dropdown-options
{
   font-size: 0.75rem;
}

 .ordered-img
   {
      width: 80px;
      height: 80px;
   }
  
   .cart-item-title
   {
      font-size: 1.25rem;
   }
  
   .successful-order
   {
      font-size: 1.35rem;
   }

  .subtotal-and-clear-cart
 {
    flex-direction: column;
    margin : 15px;
    padding: 20px;
  }

  .cart-subtotal
  {
    font-size: 1.75rem;
  }

  .clear-cart-button
 {
    width: 150px;
 }

 .delete-img
 {
    width: 25px;
    height: 25px;
    left: 5px;
 }

 .product-image
{
    width: 130px;
    height: 130px;
    left:10px;
    top: 30px;
    margin: 5px;
}

 .quantity
{
   left:0;
   margin-top:50px;
}

.quantity p
{
    font-size: 1.2;
}

.button
{
    width: 25px;
    height: 25px;
}

.decrement
{
    margin-left:15px ;
}

.product-data
{
   flex-direction: column;
   width: 90%;
}

.cart-products-title
{
    font-size: 1.65rem;
}

.cart-item-price
{
    font-size: 1.65rem;
}

.cart-products-description
{
    font-size: 1.25rem;
    display: block;
}

.cart-products-short-description
{
    display: none;
}

.cart-img
{
    width: 25%;
    height: 60vh;
}

.emoji
{
    height: 80px;
    width: 80px;
    margin: 40px 10px 10px;
}

.empty-cart-para
{
    font-size: 1.85rem;
    margin-top: 60px;
} 

}

@media screen and (min-width:992px) and (max-width:1199px) 
{
  .offcanvas.show
  {
    width: 40%;
  } 

  .order-offcanvas.show
  {
    height: 20%;
  }

}



@media screen and (min-width:992px) and (max-width:1280px)
{   
   .cart-icon
  {
    margin-left: 10vw;
  }

} 

@media screen and (min-width:992px) and (max-width:1158px)
{
    .nav-items
    {
        font-size: 1rem;
    }
}

@media screen and (min-width : 992px)
{
    .cart-products-description
    {
        display: block;
    }
    
    .cart-products-short-description
    {
        display: none;
    }
}