*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{ 
   background-color: #69626D;
   overflow-x: hidden;
}



/********************************************   NAV-BAR   **************************************************/


.nav-bar
{
    background-color: #3D52F0;
}


.brand-logo img
{
  width:4rem;
  height:4rem;
  border-radius: 50%; 
}

.me-auto
{
    margin-left: 3vw;
} 

 .nav-items
{
    font-size: 1.25rem;
    margin: 0 0.5vw;
    color: #E2E2E2;
    font-weight: 700;
} 


#basic-nav-dropdown
{
    color: #E2E2E2;
}


.dropdown-items
{
    color: #E64833;
    font-weight: 600;
}


.cart-icon
{
    margin-left: 25vw;
    color:#E2E2E2;
    font-size: 2rem;
}

.cart
{
    color:#E2E2E2;
    font-size: 1.2rem;
    font-weight: 700;
}


.toggle-menu
{
    background-color:white;
}

.nav-items:hover
{
  color:#393A10;
}



/*****************************************   HOME PAGE   ***********************************************************/
.shop-img
{
    width:100%;
    height:85vh;
}

.card-title1
{ 
    color:#071013;
}

.card-para1
{
    color:#E0F2E9;
}

.shop-img2
{
    filter: blur(2px);
    height:70vh;
}

.card-title2
{
    color:white;
}

.card-para2
{
    color:#1A1423;
}


.top-brands-list-items
{
    margin : 1rem;
    background-color: #FFFFFF;
    border:2px solid #210203;
}

.new-arrivals
{
    color: #FF2E00;
}

.new-arrivals-card-img
{
   width:250px;
   height: 250px;
} 

.new-arrivals-card
{
    align-items: center;
    text-align: center;
}

.footer
{
    background-color: #E2FADB;
    color:#19297C;
}


.card
{
    overflow-x: auto;
}


/*************************************************   MEDIA QUERIES   ******************************************************/


@media screen and (max-width:575px) 
{
   .nav-items,.dropdown-items
   {
    font-size: 1rem;
   }

   .shop-img2
   {
    height: 60vh;
   }

   .card-para2
   {
     font-size: 1.2rem; 
     margin: 0 1rem;
   }
} 

 @media screen and (max-width : 991px)
{
    .cart-icon
    {
        margin-left: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1280px)
{   
   .cart-icon
  {
    margin-left: 10vw;
  }
} 

@media screen and (min-width:992px) and (max-width:1158px)
{
    .nav-items
    {
        font-size: 1rem;
    }
}